.hover-img1 {
  width: 100%;
  padding-top: 100%;
  background-image: url('/Bootstrap-pet-painting/images/dog01.png');
  background-size: cover;
  background-position: center;
  transition: background-image 0.3s ease-in-out;
  &:hover {
  background-image: url('/Bootstrap-pet-painting/images/dog01-hover-1.png');
  }
}
.hover-img2 {
  width: 100%;
  padding-top: 100%;
  background-image: url('/Bootstrap-pet-painting/images/04.png');
  background-size: cover;
  background-position: center;
  transition: background-image 0.3s ease-in-out;
  &:hover {
  background-image: url('/Bootstrap-pet-painting/images/dog01-hover.png');
  }
}
.hover-img3 {
  width: 100%;
  padding-top: 100%;
  background-image: url('/Bootstrap-pet-painting/images/08.png');
  background-size: cover;
  background-position: center;
  transition: background-image 0.3s ease-in-out;
  &:hover {
  background-image: url('/Bootstrap-pet-painting/images/dog01-hover-2.png');
  }
}
.hover-img4 {
  width: 100%;
  padding-top: 100%;
  background-image: url('/Bootstrap-pet-painting/images/06.png');
  background-size: cover;
  background-position: center;
  transition: background-image 0.3s ease-in-out;
  &:hover {
  background-image: url('/Bootstrap-pet-painting/images/dog01-hover-1.png');
  }
}
.hover-img5 {
  width: 100%;
  padding-top: 100%;
  background-image: url('/Bootstrap-pet-painting/images/07.png');
  background-size: cover;
  background-position: center;
  transition: background-image 0.3s ease-in-out;
  &:hover {
  background-image: url('/Bootstrap-pet-painting/images/dog01-hover.png');
  }
}
.hover-img6 {
  width: 100%;
  padding-top: 100%;
  background-image: url('/Bootstrap-pet-painting/images/05.png');
  background-size: cover;
  background-position: center;
  transition: background-image 0.3s ease-in-out;
  &:hover {
  background-image: url('/Bootstrap-pet-painting/images/dog01-hover-2.png');
  }
}