/* 上方 nav */
.custom-link {
  border-top: 1px solid $lightgray;
  @media (min-width: 992px) {
    border-top: none;
  }
}
.navbar-btn{
  @media (min-width: 992px) {
    background-color: $primary;
    border-radius: 50rem;
  } 
}
